@import "./header-style.css";
@import "./icons-footer.css";
*{
  margin:0;
  font-family: 'Titillium Web', sans-serif;
}

body{
  background:rgb(196, 223, 223);
  color:#010905;
}

.title{
  width: 500px;
  color:#0869A6;
  margin:3% auto;
  margin-top: 100px;
  text-align: center;
}

.content{
  width: 580px;
  margin: 0 auto;
  background-color: rgb(210, 233, 233);
  padding: 3%;
  padding-left: 6%;
}

.secondTitle{
  text-align:left;
  margin: 2% 0;
  font-weight: 100;
}

.form{
  padding: 5px;
}

.formLine{
  display: inline-flex;
  padding: 5px 0px;
}

.left{
  float: left;
}

.right{
  float:right;
  margin-right: 100px;
}

input, select{
  width: 130px;
  margin-left: 10px;
}

/* table style */
table{
  width: 100%;
}

thead{
  background-color:rgb(174, 233, 233);
  line-height: 30px;
}

/* Button */

button{
  width: 200px;
  color:#fff; 
  padding: 10px;
  text-align: center;
  font-size: 1.1em;
  line-height: 20px;
  background-color: #04BF8A;
  border-radius: 5px;
  margin: 14px 25%;
  cursor: pointer;
}

a{
  text-decoration: none;
  cursor: pointer;
}

