@import "./header-style.css";
@import "./icons-footer.css";

body {
    margin: 0;
    font-family: sans-serif;
    background: #f5f6f7;
    padding-top: 150px;
    align-items: center;
  }

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto .8fr .8fr .35fr;
    grid-column-gap: 0px;
    grid-row-gap: 1px;
    grid-template-areas:
      "hd hd hd hd"
      "cs cs cs cs"
      "a-us a-us cu cu"
      "ft ft ft ft";
    line-height: 30px;
}
    
    .div2 {
        grid-area: cs; 
        background-color: rgb(210, 233, 233);
        height: 250px;
    }

    @media screen and (max-width: 500px) {
        .header a {
          float: none;
          display: block;
          text-align: left;
        }
        .header-right {
          float: none;
        }

        .container {
          margin: 0;
          display: grid;
          grid-template-columns: auto 1fr 1fr 1fr;
          grid-template-rows: 3% 0.25fr 0.34fr 0.25fr .25fr;
          grid-template-areas:
            "hd hd hd hd"
            "cs cs cs cs"
            "a-us a-us a-us a-us"
            "cu cu cu cu"
            "ft ft ft ft";
          line-height: 25px;
        }
      }
      
      @media (min-width: 501px) {
        body {
          padding-top: 0px;
        }
      }
    