body {

    background-image: linear-gradient(115deg,
            rgba(58, 58, 158, 0.8),
            rgba(136, 136, 206, 0.7)),
        url('../images/survey-form-background.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

h1 {
    font-weight: 400;
    line-height: 1.2;
}

p {
    font-size: 1.125rem;
}

h1,
p {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  text-align: center;
}

.container-fluid {
    padding: 3% 36% 7%;
    color: #f3f3f3;
}

.description {
    font-style: italic;
    font-weight: 200;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
  }

  .header {
    padding: 0 0.625rem;
    margin-bottom: 1.875rem;
  } 
  
.bg {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    opacity: 0.6;
    background-color: rgba(9, 46, 140, 0.92);
}

form {
    background: rgb(29, 29, 32);
}

#title {
    
    padding-top: 1rem;
    font-family: "Montserrat, Bold";
    color: #f3f3f3;
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: 900;
}

form {
    background: var(--color-darkblue-alpha);
    /* background: rgb(233, 240, 240); */
    padding: 2.5rem 0.625rem;
    border-radius: 0.25rem;
}

.background-image {
    background-image: url('../images/survey-form-background.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
}