a {
    color: #11999E;
    text-decoration: none;
}

body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    
}

.btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }

  .contact-me {
    padding-bottom: 100px;
  }

h1 {
    font-size: 5.625rem;
    margin-top: 50px, auto, 0, auto;
    font-family: 'Sacramento', cursive;
    line-height: 2;
    color: #66BFBF;
}

h2 {
    font-family: 'Merriweather', serif;
    font-size: 2.5rem;
    color: #66BFBF;
    font-weight: normal;
}

h3 {
    font-family: 'Merriweather', serif;
    color: #11999E;
}

hr {
    border-style: dotted none none;
    border-color:gray;
    border-width: 5px;
    width: 5%;
  }

.top-container {
    background-color: #E4F9F5;
    position: relative;
    padding-top: 100px;
}

.middle-container {
   
}

.bottom-container {
    position: relative;
    padding-top: 100px;
}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 50px;
}

.bottom-cloud {
    position: absolute;
    left: 300px;
    bottom: 300px ;
}

.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}

.code-img {
    width: 22%;
    float: left;
    margin-right: 30px;
}

.frame-img {
    width: 22%;
    float: right;
    margin-right: 100px;
    
}

.proj-img {
    width: 22%;
    float: left;
    margin-right: 30px;
}

footer {
    display: flex;
    justify-content: center;
    
    background-color: #66BFBF ;
    color: #EAF6F6;
}

